
<div class="container mt-5">

<h1>My To Dos</h1>
<ul>
  <% @tasks.each do |task|  %>
  <li>
    <% if task.completed %>
        <i class="fa fa-check-square-o"></i>
    <% else %>
        <i class="fa fa-square-o"></i>
    <% end %>
    <%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>
<br>
<%= link_to 'Add task', new_task_path %>
</div>
